h1 {
    text-align: center;
}

.harvest {
    width: 100%;
    text-align: center;
    height: 270px;
}

.slide {
    position: absolute;

    width: 855px;
    max-height: 250px;
    overflow: hidden;
    height: 200px;
    
    left: 50%;
    margin-left: calc(-855px/2);
}

.items {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    padding: 15px 5px;
    transition: all 1s;
    margin-left: calc(-855px/2);
    z-index: 1002;
}

.sizing {
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
    max-height: 150px;

    white-space: normal;
    vertical-align: top;
    padding: 15px 4px;
}

.item {
    height: 200px;
}

.item label {
    display: inline-block;
    max-width: inherit;
    height: inherit;
}

.item label img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 10px;
}

.item p {
    text-align: justify;
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    text-indent: 2ch;
}

.sizing:hover .item {
    position: fixed;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    background: rgb(255, 255, 255);

    height: auto;

    max-width: 200px;
    min-width: 200px;
}

.sizing:hover .item p {
    display: block;
    padding: 0 5px;
    line-height: 2ch;
}

.slider_button {
    display: inline;
    position: relative;
    top: 100%;
    bottom: 0;
}

#radio1:checked~.slide .items {
    margin-left: calc(-855px/2);
 }

#radio2:checked~.slide .items {
    margin-left: calc( (-855px/2) * 2.5);
}

#radio3:checked~.slide .items {
    margin-left: calc( (-855px/2) * 4);
}

#radio4:checked~.slide .items {
    margin-left: calc( (-855px/2) * 5.5);
}

#radio5:checked~.slide .items {
    margin-left: calc( (-855px/2) * 7);
}

#radio6:checked~.slide .items {
    margin-left: calc( (-855px/2) * 8.5);
}

.item label {
    cursor: pointer;
}

.modal_button {
    display: none;
}

.modal_img {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: none;
}

.modal_img img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    max-width: 80%;
    max-height: 80%;
}

.modal_button:checked~.modal_img {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
}

.close_button {
    position: fixed;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    padding: 0;
    font-size: 2em;
    color: #fff;
    z-index: 9001;
}

.close_button:hover {
    /* transform: scale(1.2); */
    text-shadow: 0px 0px 3px white, 0px 0px 5px white, 0px 0px 10px white;
}

.close_button:active+.modal_img {
    display: none;
}