body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #CFD0CF;
    color: #434344;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    line-height: 47px;
    font-size: 42px;
    padding: 40px;
    font-weight: 700;
}

#game {
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    grid-template-rows: 1fr;
    grid-gap: 25px;
    justify-items: center;
    perspective: 600px;
}

#timer {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 36px;
    font-size: 32px;
    padding: 30px;
    font-weight: 700;
}

.flip {
    transform: rotateY(180deg);
}

.card {
    position: relative;
    width: 125px;
    height: 125px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    background: #fff;
    border: #fff 5px solid;
    transition: 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    font-size: 75px;
}

.front,
.back {
    display: flex;
    
    align-items: center;
    justify-content: center;

    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
}

.front {
    z-index: 2;
    background: linear-gradient(to right top, #22AB93, #19668D);
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
}

.success {
    background: #5AD66F;
    border: #5AD66F 5px solid;
}

.fail {
    background: #F44336;
    border: #F44336 5px solid;
}

#popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.500);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.win, .lose  {
    display: block;
    font-size: 48px;
    padding: 30px 0 0 0;
    font-weight: 700;
}

.hidden {
    display: none !important;
}

.button {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 40px 0 30px;
    padding: 10px 30px;
    border-radius: 10px;
    background: linear-gradient(to right, #19668D, #22AB93);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button:active {
    box-shadow: 0;
    box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}

.popup_window {
    position: relative;
    text-align: center;
    background: #fff;
    min-width: 350px;   
}

.popup_window div span{
    display: inline-block;
}

.popup_window div span:nth-child(1){
    animation: wiggle 0.5s ease-in-out 0s infinite alternate;
}
.popup_window div span:nth-child(2){
    animation: wiggle 0.5s ease-in-out 0.1s infinite alternate;
}
.popup_window div span:nth-child(3){
    animation: wiggle 0.5s ease-in-out 0.2s infinite alternate;
}
.popup_window div span:nth-child(4){
    animation: wiggle 0.5s ease-in-out 0.3s infinite alternate;
}


@keyframes wiggle {
    from {
        transform: scaleY(1) translateY(0px);
    }
    to {
        transform: scaleY(1.3) translateY(-10px);
    }
}